@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?w23o8q');
    src:  url('../fonts/icomoon.eot?w23o8q#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?w23o8q') format('truetype'),
      url('../fonts/icomoon.woff?w23o8q') format('woff'),
      url('../fonts/icomoon.svg?w23o8q#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-bake:before {
    content: "\e901";
  }
  .icon-phone:before {
    content: "\e942";
  }
  .icon-user:before {
    content: "\e903";
  }
  .icon-tools:before {
    content: "\e902";
  }
  .icon-plumbing:before {
    content: "\e900";
  }
  

* {
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
h1,h2,p {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1194px;
    margin: 0 auto;
}
.containerWidth {
    max-width: 1324px;
    margin: 0 auto;
}
body{
    margin: auto;
    padding: 0;
    font: 15px Helvetica,Arial,sans-serif;
    max-width: 1920px;
    min-width: 320px;
    color: #222222;
}

//vars
$bgColor : #FFC500;
$bgColor2 : #1D3A72;
$paddingTop : 50px;

//mixin
@mixin title {
  font-size: 32px;
  padding: 30px 0 10px;
  color: $bgColor2;
  border-bottom: 1px solid #D3D3D3;
  margin-bottom: 20px;
}
@mixin btn {
  color: #000;
  background-color: $bgColor;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 10px 20px 10px 50px;
  border-radius: 5px;
  transition: .3s;
  span{
      position: relative;
      &::before {
          font-family: 'icomoon';
          content: "\e942";
          position: absolute;
          width: 16px;
          height: 16px;
          top: 35%;
          transform: translateY(-50%);
          left: -30px;
      }
  }
  &:hover {
      color: #000;
      background-color: #ffffff;
  }
}