.forms {
    background-color: $bgColor2;
    color: #fff;
    border-top: 10px solid $bgColor;
    padding-top: $paddingTop;
    padding-bottom: 30px;
}
.forms__wrapper {
}
.forms__button {
    background-color: $bgColor;
    color: $bgColor2;
}